player-connection-mode=Listen
player-connection-guid=1140075335
player-connection-debug=0
player-connection-project-name=UnityEnvironment
player-connection-ip=192.168.100.8
player-connection-ip=192.168.56.1
player-connection-ip=192.168.100.4
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=466eff628e884928999801d450d99dd5
